<%- include('../partials/header') %>
<main>
  <div class="dashboard">
    <h2>All Runs</h2>

    <h3>
      <i class="fa fa-line-chart"></i>&nbsp;Total Completed Distance: <%=
      totalDistance %>km <br />
      <i class="fa fa-clock-o"></i>&nbsp;Total Completed Time: <%= totalTime
      %>hours <br />
      <i class="fa fa-heartbeat"></i>&nbsp;Total Runs Shown: <%= run.length %>
    </h3>

    <% if (!message) { %>
    <form action="/runs/search" method="GET">
      <label>Date: <input type="month" name="month" /></label>
      <label>Distance: <input type="number" name="distance" /></label>
      <label
        >Status:
        <select name="status">
          <option value="">All</option>
          <option value="complete">Completed</option>
          <option value="planned">Planned</option>
        </select></label
      >
      <label
        >Show:
        <select name="user">
          <option value="">All Runners</option>
          <option value="<%= user.id %>">Just My Runs</option>
        </select></label
      >
      <button type="submit">
        &nbsp;Filter Runs&nbsp;<i class="fa fa-filter"></i>&nbsp;
      </button>
    </form>
    <a href="/runs">
      <button >
        &nbsp;Refresh&nbsp;<i class="fa fa-refresh"></i>&nbsp;
      </button>
    </a>
  </div>
    <% } else { %>

    <h2 class="error"><%= message %></h2>
    <a href="/runs">
      <button >
        &nbsp;Refresh&nbsp;<i class="fa fa-refresh"></i>&nbsp;
      </button>
    </a>
  </div>
  <% } %> <% if (!message) { %>
  <div class="results">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>&nbsp;Runner&nbsp;</th>
          <th>&nbsp;Date&nbsp;</th>
          <th>&nbsp;Minutes&nbsp;</th>
          <th>&nbsp;Meters&nbsp;</th>
          <th>&nbsp;Av Speed&nbsp;</th>
          <th>&nbsp;Status&nbsp;</th>
          <% if (run.length) { %>
          <th>&nbsp;Claps&nbsp;</th>
          <th></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% run.forEach(function(r) { %>
        <tr>
          <% if (user?._id.equals(r.user)) { %>
          <td>
            <a href="/runs/show/<%= r.id %>"
              ><i id="search" class="fa fa-search"></i
            ></a>
          </td>
          <% } else { %>
          <td></td>
          <% } %>
          <td class="avatar">
            &nbsp;<img
              src="<%= r.userAvatar %>"
              referrerpolicy="no-referrer"
            />&nbsp;JD&nbsp;
          </td>
          <td>&nbsp;<%= dayjs(r.date).format('DD MMM YYYY'); %>&nbsp;</td>
          <td><%= r.time %></td>
          <td><%= r.distance %></td>
          <td><%= r.speed %>kph</td>
          <td>
            &nbsp;<% if (r.status == "complete") { %><i
              class="fa fa-check-square-o"
            ></i>
            <% } else { %><i class="fa fa-minus-square-o"></i><% }%>&nbsp;<br />
            &nbsp;<%= r.terrain.toUpperCase() %>&nbsp;
          </td>
          <td><%= r.claps.length %></td>
          <% if (!user?._id.equals(r.user) && r.status) { %>
          <td>
            <form action="/<%= r.id %>/claps" method="POST">
              <button
              <% for (i=0; i < r.claps.length; i++) { if (r.claps[i].user.toString() === user['_id'].toString()) { %>
                class="clap-button-active" <% } } %>
                class="clap-button"   
                name="clap"
                value="clap"
                type="submit"
              >
                &nbsp;<img
                  src="https://img.icons8.com/parakeet-line/48/applause.png"
                />&nbsp;
              </button>
            </form>
          </td>
          <% } else { %>
          <td></td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% } %>
</main>
<%- include('../partials/footer') %>
