<%- include('../partials/header') %>
<main>
  <div class="dashboard">
  <h2>Your Run</h2>
  <ul>
    <li>Run Date: <%= dayjs(run.date).format('DD MMM YYYY');%></li>
    <li>Time: <%= run.time%> minutes</li>
    <li>Distance: <%= run.distance%> meters</li>
    <li>Average Speed: <%= run.speed %>kph</li>
    <li>Terrain: <%= run.terrain.toUpperCase() %></li>
    <li>Status: <%= run.status.toUpperCase() %></li>
    <li>Total&nbsp;<img
      src="https://img.icons8.com/parakeet-line/48/applause.png" id="applause"
    />: <%= run.claps.length %></li>
  </ul>
<br>
  <h3>Edit Run For <%= dayjs(run.date).format('MMM YYYY');%> Goal</h3>
  <form action="/runs/update/<%= run.id %>?_method=PUT" method="POST">
    <label
      >Date: <input type="date" name="date" value="<%= dayjs(run.date).format('YYYY-MM-DD') %>" /> </label
    >
    <label
      >Time (minutes):
      <input type="number" name="time" value="<%= run.time%>"  /> </label
    >
    <label
      >Distance (meters):
      <input type="number" name="distance" value="<%= run.distance%>" /> </label
    >
    <label
      >Terrain:
      <select name="terrain">
        <option value="treadmill" <% if (run.terrain === "treadmill")  { %> selected <% } %> >Treadmill</option>
        <option value="road" <% if (run.terrain === "road")  { %> selected <% } %> >Road</option>
        <option value="track" <% if (run.terrain === "track")  { %> selected <% } %> >Track</option>
        <option value="trail" <% if (run.terrain === "trail")  { %> selected <% } %> >Trail</option>
      </select> </label
      >
    <label
      >Status:
      <select name="status">
          <option value="complete" <% if (run.status === "complete")  { %> selected <% } %> >Completed</option>
          <option value="planned" <% if (run.status === "planned")  { %> selected <% } %> >Planned</option>
        </select> </label>
    <button type="submit">
      &nbsp;Edit This Run&nbsp;<i class="fa fa-edit"></i>&nbsp;
    </button>
  </form>
  <p class="error"><%= message %></p>
  <form
            action="/runs/<%= run.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button class="delete-button" type="submit">
              &nbsp;Delete Run&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
            </button>
          </form>
        </div>
</main>
<%- include('../partials/footer') %>
